for i=1,35 do
warn"Valiant will be down for some time due to PSU Deobfuscation. For future information, join our Discord server: https://discord.gg/bwJ8hDfUvP "
end
local Message = Instance.new'Hint'
Message.Parent = Workspace
Message.Text = "Valiant will be down for some time due to PSU Deobfuscation. For future information, join our Discord server: https://discord.gg/bwJ8hDfUvP" 
